.home-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0 auto;
    max-width: 320px;
    height: 32px;
}

.articles {
    display: flex;
    justify-content: center;
}

.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.empty{
    margin-top: 150px;
}

@media (max-width:600px){
    .home-menu{
       flex-direction: column;
        height: auto;
    }

    .home-menu__sort{
        margin-top: 10px;
    }

}