.article-details__title{
    text-align: center;
    margin-top: 20px;
}

.article-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
}

.article-details__text{
    max-width: 900px;
    padding: 0 20px;
    margin-top: 20px;
    line-height: 1.5rem;
}

.translate{
    position: absolute;
    top: 45px;
    right: -150px;
}